.vscode
.idea
*.log
.DS_Store
node_modules
public
dll
test-reports
coverage
jestTestLogs.tap
config/config-development.json
test-output
test/coverage
test/out
storybook-static
test-report.xml
tests/jest/config/platform-properties.json 
tests/cypress/tests/test.js
tests/cypress/test-artifacts/*
tests/cypress/config/import-kubeconfig/*
tests/cypress/config/certificates/*
tests/cypress/templates/secret_yaml/ansible-secret-with-credentials.yaml
build-harness-extensions/
build-harness/
.build-harness-bootstrap
!vbh/.build-harness-bootstrap
!vbh/build-harness
!vbh/build-harness-extensions
tests/userCreatedByTestSuite
userCreatedByTestSuite
sslcert/server.crt
sslcert/server.key
sslcert/server.csr
Dockerfile.tmp
